 #accordion .panel-heading{
            padding: 0;
            border: none;
            border-radius: 0;
            position: relative;
        }
        #accordion .panel-title p{
            display: block;
            padding: 15px 10%;
            margin: 0;
            background: #1a2235;
            font-size: 18px;
            font-weight: 700;
            letter-spacing: 1px;
            color: #fff;
            border-radius: 0;
            position: relative;
        }
        #accordion .panel-title a.collapsed{
            background: #1c2336;}
        #accordion .panel-title a:before,





        #accordion .panel-body{
            border-left: 3px
            solid #1a2235;
            border-top: none;
            background: #fff;
            font-size: 17px;
            color: #1c2336;
            line-height: 27px;
            position: relative;
        }
        #accordion .panel-body:before{
            content: "";
            height: 3px;
            width: 100%;
            background: #1a2235;
            position: absolute;
            bottom: 0;
            left: 0;
        }
        .btn-w3r {



            background: #50d8af;

            /* W3C */
            color:white;
            -webkit-transition: all .5s;

            -moz-transition: all .5s;

            -ms-transition: all .5s;

            -o-transition: all .5s;

            transition: all .7s;

        }
        .btn-w3r:hover {
            color:#50d8af;
            background-color: white;
            border: 1px solid #50d8af;

        }

        .btn-w4r {



            background: #50d8af;

            /* W3C */
            color:white;
            -webkit-transition: all .5s;

            -moz-transition: all .5s;

            -ms-transition: all .5s;

            -o-transition: all .5s;

            transition: all .7s;
            margin-top: 12px;
        }
        .btn-w4r:hover {
            color:#50d8af;
            background-color: white;
            border: 1px solid #50d8af;

        }



        .hr1{ height:1px;border:none;border-top:3px solid #346191;}

        .navbot {
            height:5px;
            width:100%;
            background: -webkit-linear-gradient(#D3D3D3, #fff); /* Safari 5.1 - 6.0 */
            background: -o-linear-gradient(#D3D3D3, #fff); /* Opera 11.1 - 12.0 */
            background: -moz-linear-gradient(#D3D3D3, #fff); /* Firefox 3.6 - 15 */
            background: linear-gradient(#D3D3D3, #fff); /* 标准的语法,必须放最后 */
        }
        .alert-info{
            color:
                    #31708f;
            background-color:
                    white;
            border-color:
                    white;
        }




        /*.file-box{
            display: inline-block;
            position: relative;
            padding: 3px 5px;
            overflow: hidden;
            color:#fff;
            background-color: #50d8af;
font-weight: 900;
        }
        .file-btn{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            outline: none;
            background-color: transparent;
            filter:alpha(opacity=0);
            -moz-opacity:0;
            -khtml-opacity: 0;
            opacity: 0;
        }*/

        .file-box input{ vertical-align:middle; margin:0; padding:0}
        .file-box{ position:relative;width:340px}
        .file-box .txt{ height:22px; border:1px solid #cdcdcd; width:180px;}
        .file-box .btn{ background-color:#FFF; border:1px solid #CDCDCD;height:24px; width:70px;}
        .file-box .file{ position:absolute; top:0; right:80px; height:24px; filter:alpha(opacity:0);opacity: 0;width:260px }

        textarea.form-control {
            height: 114px;
        }

        .btn-default {
            color: #333;
            background-color: #d5eee2;
            border-color: #ccc;
        }

